<div class="container">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let us of readData">
            <th scope="row">{{us.id}}</th>
            <td>{{us.fullname}}</td>
            <td>{{us.email}}</td>
            <td>{{us.mobileno}}</td>
           
          </tr>
        </tbody>
      </table>
    </div>